body {
  display: flex;
  background: linear-gradient(to right bottom, rgba(251, 0, 176, 0.8), rgb(0,227,239), rgb(0, 104, 59));
  min-height: 100vh;
  margin: 0px;
  position: relative;
  justify-content: center;
}

.container {
  position: relative;
  border-radius: 15px;
  width: 85%;
  max-width: 600px;
  height: 50vh;
  background-color: rgba(255,255,255,0.3);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

.description {
  text-align: center;
  font-family: monospace, sans-serif;
  letter-spacing: 1px;
  font-size: 25px;
  font-weight: 600;
}

.heading{
  text-align: center;
  font-family: monospace, sans-serif;
  letter-spacing: 1px;
  font-size: 40px;
  text-decoration: underline dashed;
}

.input-container {
  position: relative;
}

.input-container input{
  font-family: monospace, sans-serif;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 50%;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

.btn{
  padding: 12px;
  font-family: monospace, sans-serif;
  font-weight: 700;
  font-size: 22px;
  position: relative;
  left: 37.5%;
  top: 10px;
  cursor: pointer;
  background-color: rgba(0, 225, 49, 0.9);
  border: none;
  border-radius: 15px;
}

.btn:hover{
  background-color: rgba(0, 225, 49, 0.75);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
  transition: all 250ms;
}

.btn:active{
  transform: scale(0.95);
}

.downpay-total{
  font-family: monospace, sans-serif;
  font-weight: 600;
  text-align: left;
  position: relative;
  top: 80px;
  left: 25px;
  font-size: 25px;
}